.clear{
	clear      : both;
	overflow   : hidden;
	width      : 0 !important;
	height     : 0 !important;
	min-height : 0 !important;
	min-width  : 0 !important;
	border     : 0 none !important;
	float      : none !important;
}

.container {

}
.clickme{
	width: 600px;
	min-height: 30px;
	background-color: red;
	margin: 0 auto;
}
section.grandma {
	position        :relative;
	width           : 600px;
	min-height      : 600px;
	background-color: #666;
	overflow: visible;
	margin: 0 auto;
}

section.grandma div.mom {
	position         : absolute;
	width            : 450px;
	min-height       : 1500px;
	background-color : #444;
	bottom           : 0;
	left             : 100px;
}

div.mom div.child {
	position: absolute;
	width        : 120px;
	min-height   : 120px;
	margin-right : 30px;
	background-color: #a88;

}